<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div align='center'>
    <h5 *ngIf="invalidCredentials" style="color: #ea6153;">Invalid email or password</h5>
    <div *ngIf="otherError" style="color: #ea6153;">
      <h5 style="margin-bottom:2px">Temporarily unable to sign in, </h5>
      <h5 style="margin-top:2px; margin-bottom:1.6rem">please try again later.</h5>
    </div>
  </div>

  <form [formGroup]="myForm">

    <div class="form-group">
      <ion-item>
        <ion-label stacked >Email</ion-label>
        <ion-input formControlName="email" type='email' clearOnEdit="false"></ion-input>
      </ion-item>
    </div>

    <div class="form-group">
      <ion-item>
        <ion-label stacked >Password</ion-label>
        <ion-input formControlName="password" type="{{ isPassword }}" clearOnEdit="false"></ion-input>
        <button class = "passwordIcon" ion-button clear item-end 
            (click)='showHide()' type="button">
          <ion-icon name="{{isActive}}" item-right></ion-icon>
        </button>
      </ion-item>
    </div>
    <div padding>
      <button ion-button full color='primary' (click)='loginUser()'>Sign In</button>
    </div>
  </form>
</ion-content>