<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div align='center'>
    <h5 *ngIf="invalidCredentials" style="color: #ea6153;">Invalid email or password</h5>
    <div *ngIf="otherError" style="color: #ea6153;">
      <h5 style="margin-bottom:2px">Temporarily unable to sign in, </h5>
      <h5 style="margin-top:2px; margin-bottom:1.6rem">please try again later.</h5>
    </div>
  </div>

  <form (submit)='loginUser()'>

    <ion-list>

      <ion-item>
        <ion-input placeholder="Email" type='email' name='email' [(ngModel)]='userLogin.email'></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Password" type='password' name='password' [(ngModel)]='userLogin.password'></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color='primary' block>Sign In</button>
      </div>

    </ion-list>

  </form>
</ion-content>