<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="_user.user">
    <h1 align="center">Hello, {{_user.user.firstName}}!</h1>
    <ion-card>
      <ion-card-content>
        Name: {{ _user.user.firstName }} {{ _user.user.lastName }}
        <p></p>
        <div>Email: {{_user.user.email }} </div>
        <p></p>
        <div>Birthday: {{_user.user.birthday | date:'shortDate' }}</div>
        <p></p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        My Saved Charts
      </ion-card-header>
      <div *ngIf="chartData">
        <ion-list>
          <div *ngFor="let chart of chartData">
            <button ion-item>
              {{chart.timestamp | date: "shortDate" }} - Monthly Benefit: ${{chart.monthlyBen}}
            </button>
          </div>
        </ion-list>
      </div>
      <div *ngIf="!chartData">
        <p align="center">
          You have no saved charts!
        </p>
      </div>
    </ion-card>
      <div class="profileButtons">
        <button ion-button color="primary" (click)="goToInput()">Generate a Chart</button>
      </div>
  </div>
</ion-content>