
<h1>Social Security Information</h1>
<h2>Answer the below questions to see your personal report</h2>

<form [formGroup]="form" (submit)= "submit()">
  <ion-list no-lines class="chart-questions">
    <ion-item>
      <ion-label stacked>Date of Birth</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" formControlName="dateOfBirth" placeholder="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Amount Paid to Social Security</ion-label>
      <button type="button" class="info-button" item-right ion-button icon-only clear (click)="alert('amountPaid')">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <ion-input formControlName="amountPaid" type="number" placeholder="300000"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Monthly Benefit at full Retirement Age</ion-label>
      <button type="button" class="info-button" item-right ion-button icon-only clear (click)="alert('avgIncome')">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <ion-input formControlName="avgIncome" type="number" placeholder="1400"></ion-input>
    </ion-item>

    <div padding>
      <button ion-button color='primary' block>See Results</button>
    </div>
  </ion-list>
</form>

