page-chart {
    .impStuff{
        display:flex;
        justify-content: space-around;
    }
    .chartContainer{
        display: block;
    }
    .chartOptions{
        display: flex;
        justify-content: space-around;
    }
}
