page-chart {

    .card {
        margin-top: 0px;
    }

    .impStuff{
        display:flex;
        justify-content: space-around;
    }
    .chartContainer{
        display: block;
    }

    .info-button {
        align-self: start;
    }
    .infoLabels{
        display:flex;
        justify-content: space-around;
        .infoCard{
            margin: 5px;
            .infoCont{
                padding:10px;
                .infoFormat{
                    display:flex;
                    justify-content:space-evenly;
                    //color for left badge
                    .leftBadge{
                        background-color: #1257c7;
                        justify-self: flex-end;
                    }
                    //color for right badge
                    .rightBadge{
                        background-color: #e6780b;
                        justify-self: flex-end;
                    }
                }
            }
        }
        .strong{
            font-size:13px;
        }
    }

    .chartSlider{
        padding-top: 0px !important; 
    }

    //Color for left-knob
    .range-knob-handle > .range-knob {
        background-color: #1257c7 !important
    }
    //color for right-knob
    .range-knob-handle ~ .range-knob-handle > .range-knob {
        background-color: #e6780b !important
    }

    .chartButtons{
        display: flex;
        justify-content: space-around;
    }
}
