<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chart</ion-title>
      <ion-buttons end>
        <button class ="homeButton" *ngIf="haveData" 
            ion-button color="primary" (click)="navProfile()">
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <input-form *ngIf="!haveData" [form]='inputForm' (submitForm)="sendChartData()"></input-form>
  <div *ngIf="haveData">
    <div class = "infoLabels">
      <ion-card class= "infoCard">
        <ion-card-content class="infoCont">
          <div class="infoFormat">
            <strong>Best-Age:</strong><p>{{bestYear}}</p>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class= "infoCard">
        <ion-card-content class="infoCont">
          <div class="infoFormat">
            <strong>Break-Even:</strong><p>{{breakEvenYear}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div style="display: block">
      <canvas class="chart" baseChart width="400" height="400" 
        [datasets]="barChartData" 
        [labels]="barChartLabels"
        [colors]="barChartColors" 
        [options]="barChartOptions"
        [legend]="barChartLegend" 
        [chartType]="barChartType" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <div class = "infoLabels">
      <ion-card class= "infoCard">
        <ion-card-content class="infoCont">
          <div class="infoFormat">
            <div class="age">
              <strong>Retirement</strong>
              <strong>Age:</strong>
            </div>
            <ion-badge class ="leftBadge">{{slider.lower}}</ion-badge>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class= "infoCard">
        <ion-card-content class="infoCont">
          <div class="infoFormat">
            <div class="age">
              <strong>Life</strong>
              <strong>Expectancy:</strong>
            </div>
            <ion-badge class="rightBadge" [ngStyle]="{'padding-right': is100 ? '12px' : '8px'}">
              {{slider.upper}}
            </ion-badge>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-range class="chartSlider" min="62" max="100" [(ngModel)]="slider" 
              (ionChange)='goSlider()' color="primary" dualKnobs="true">
      <ion-label range-left>62</ion-label>
      <ion-label range-right>100</ion-label>
    </ion-range>
    <div class="chartButtons">
      <button ion-button color="primary" (click)="saveChart()">Save Chart</button>
      <button ion-button color="dark" (click)="haveData = false">Clear Chart</button>
    </div>
  </div>
</ion-content>