<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <input-form [form]='inputForm' (submitForm)="sendChartData()" *ngIf="!haveData"></input-form>
  <div *ngIf="haveData">
  <ion-card>
    <ion-card-content class="impStuff">
      <div>
        <strong>Best-Age:</strong> {{bestYear}}</div>
      <div>
        <strong>Break-Even:</strong> {{breakEvenYear}}</div>
    </ion-card-content>
  </ion-card>
  <div style="display: block">
    <canvas class="chart" baseChart width="400" height="400" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <ion-range min="62" max="100" [(ngModel)]="slider" (ionChange)='goSlider()' color="primary" dualKnobs="true" pin="true">
    <ion-label range-left>62</ion-label>
    <ion-label range-right>100</ion-label>
  </ion-range>
    <div class="chartOptions">
      <button ion-button color="primary">Save Chart</button>
      <button ion-button color="danger">Clear Chart</button>
    </div>
<!-- </ion-content> -->
