page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 70%;
    margin-top: 36px;
    margin-bottom: 12px;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 18px;
    line-height: 1.3;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
