<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]='myForm'>
      <div class = "form-group">
        <ion-item>
          <ion-label stacked>First Name</ion-label>
          <ion-input formControlName="firstName" type='text'></ion-input>
        </ion-item>
        <div *ngIf="!myForm.controls.firstName.valid && (myForm.controls.firstName.dirty || signupAttempt)">
          <p>Please fill in your first name.</p>
        </div>
      </div>
      <br>

      <div class = "form-group">
        <ion-item>
          <ion-label stacked>Last Name</ion-label>
          <ion-input formControlName="lastName" type='text'></ion-input>
        </ion-item>
        <div *ngIf="!myForm.controls.lastName.valid && (myForm.controls.lastName.dirty || signupAttempt)">
          <p>Please fill in your Last Name.</p>
        </div>
      </div>
      <br>
 
      <div class = "form-group">
        <ion-item>
          <ion-label stacked>Date of Birth</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" formControlName="birthday"></ion-datetime>
        </ion-item>
        <div *ngIf="!myForm.controls.birthday.valid && (myForm.controls.birthday.dirty || signupAttempt)">
          <p>Please fill in your Date of birth.</p>
        </div>
      </div>
      <br>

      <div class = "form-group">
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input formControlName="email" type='email'></ion-input>
        </ion-item>
          <div *ngIf="!myForm.controls.email.valid && (myForm.controls.email.dirty || signupAttempt)">
          <p>Please fill in your Email.</p>
        </div>
      </div>
      <br>

      <div class = "form-group">
        <ion-item>
          <ion-label stacked>Confirm Email*</ion-label>
          <ion-input formControlName="confirmEmail" type='email'></ion-input>
        </ion-item>
        <div *ngIf="!myForm.controls.confirmEmail.valid && (myForm.controls.confirmEmail.dirty || signupAttempt)&& !myForm.controls.confirmEmail.errors?.MatchEmail">
          <p>Please confirm your Email.</p>
        </div>
        <div *ngIf="myForm.controls.confirmEmail.errors?.MatchEmail">
          <p>Emails do not match.</p>
        </div>
      </div>
      <br>

      <div class = "form-group">
        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input formControlName="password" type='password'></ion-input>
        </ion-item>
        <div *ngIf="!myForm.controls.password.valid && (myForm.controls.password.dirty || signupAttempt)">
          <p>Please choose a password.</p>
        </div>
      </div>
      <br>

      <div class = "form-group">
        <ion-item>
          <ion-label stacked>Confirm Password*</ion-label>
          <ion-input formControlName="confirmPassword" type='password'></ion-input>
        </ion-item>  
        <div *ngIf="!myForm.controls.confirmPassword.valid && (myForm.controls.confirmPassword.dirty || signupAttempt)
              && !myForm.controls.confirmPassword.errors?.MatchPassword">
          <p>Please confirm your password.</p>
        </div>
        <div *ngIf="myForm.controls.confirmPassword.errors?.MatchPassword">
          <p>Passwords do not match.</p>
        </div>
      </div>
      <br>
      
      <button ion-button full color="primary" (click)="submit()">Register</button>
    </form>
    
</ion-content>

