page-signup {
    p {
        color: red;
        font-size: 12px;
        margin-top: 0;
    }
    button {
        margin-top: 20px;
        background-color: #eee;
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer; cursor: hand;
    }

    button#datetime-6-0 {
        margin-top: 0px;
    }
    .req{
        margin-top: 10px;
        margin-left: 15px;
    }

    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 14px !important;
        margin: 0 auto !important;
         }
         
    .validCheck{
        margin-left: 30px;
        display:flex;
        .check{
            color: green;
            padding-left: 5px;
        }
    }
    .noice{
        margin-top: 10px;
        margin-left: 15px;
        color:green;
    }
}
